.errorWindow-appear-active {
  opacity: 0;
}
.errorWindow-appear-done {
  opacity: 1;
  transition: opacity 1s;
}

.errorWindow-exit-active {
  opacity: 1;
}
.errorWindow-exit-done {
  opacity: 0;
  transition: opacity 600ms;
}
